
/* Typography */

:root {
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 2rem;
  --fs-600: 4rem;
  --fs-700: 6rem;
}

/* --- */

@media(max-width: 1250px) {
  :root {
    --fs-300: 0.925rem;
    --fs-400: 1.10rem;
    --fs-500: 1.40rem;
    --fs-600: 3rem;
    --fs-700: 5rem;
  }

}
@media(max-width: 767px) {
  :root {
    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 2.25rem;
    --fs-700: 4rem;
  }
}


.css-h1 {
  font-size: var(--fs-700); 
  font-family: Almendra;
  font-weight: 400;
  line-height: 5.9375rem;

  color: #ffffff;
}

.css-h2 {
  font-size: var(--fs-600);
  font-family: Almendra;
  font-weight: 400;

  color: #fff;
}

.css-h3 {
  font-size: var(--fs-500);
  font-family: Almendra;
  font-weight: 400;

  color: #fff;
}

@media(max-width: 1250px) {
  .css-h1{
    line-height: 4.9375rem;
  }
}

.fs-md {
  font-size: var(--fs-400);
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.fs-sm {
  font-size: var(--fs-300)
}


/* Colors */

:root {
  --color-primary: #111111;
  --color-secondary: #FFFFFF;
  --color-accent: #F4C244;
}


html {
  scroll-behavior: smooth;

  scroll-padding-top: 6rem;
}
